@import "styles/mixins";

.pokemon-card-component {
  padding: var(--spacing-1);
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  @include transition(box-shadow, 200ms);
  @include box-shadow(2);

  &:hover, &:focus {
    @include box-shadow(6);
  }

  &:focus {
    outline: none;
  }

  &__backdrop {
    filter: brightness(150%) opacity(50%);
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
  }

  &__title {
    --title-size: var(--font-size-xs);
    color: var(--color-text);
    font-weight: 600;
    font-size: var(--title-size);
    text-align: center;
    padding-bottom: var(--spacing-3);
    display: block;
    text-transform: capitalize;

    @include md() {
      --title-size: var(--font-size-md);
    }

    @include lg() {
      --title-size: var(--font-size-lg);
    }
  }

  &__image {
    padding: var(--spacing-1);
  }
}
