@import "styles/breakpoints";

.home-page {
  &__title {}

  &__listing {
    --columns: 2;
    --grid-gap: var(--spacing-1);

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--grid-gap);

    @include sm {
      --columns: 2;
      --grid-gap: var(--spacing-2);
    }

    @include md {
      --columns: 3;
      --grid-gap: var(--spacing-3);
    }
  }
}
