@import "styles/mixins";

.pokemon-detail-component {
  height: 100vh;
  position: relative;


  &__backdrop {
    @include backdrop;
    @include background-filter;
    background-color: var(--background-color);
  }

  &__heading {
    color: var(--color-text)
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__card {
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 var(--spacing-5);
  }
}
