@import "styles/mixins";

.pokemon-detail-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  --image-height: 20vh;
  --image-offset: 5vh;

  &__heading {
    color: var(--color-text-inverse);
    text-align: center;

    :first-child {
      margin-bottom: 0;
    }
  }

  &__card {
    @include box-shadow(6);
    padding: 5vh 2rem 0 2rem;
    position: relative;
    margin-top: var(--image-height);
    height: 100%;
    background-color: #ffffff;
    border-top-left-radius: var(--spacing-5);
    border-top-right-radius: var(--spacing-5);
  }

  &__image {
    position: absolute;
    width: 100%;
    height: var(--image-height);
    top: calc((var(--image-height) - var(--image-offset))*-1);
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__description {
    margin-top: 1rem;
  }

  &__heading {
    text-transform: capitalize;
  }
}
